.logo-container {
  .solid-logo {
    border-radius: 100px;
    position: absolute;
    right: 5%;
    top: 30%;
    bottom: 18%;
    transform: translateZ(-50%);
    width: 35%;
    height: 35%;
  }
}
